*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    overflow: hidden;
}
 
 .form {
    border: 1px black solid;
    margin: 20px;
} 

input {
    display: block;
    margin: 10px auto;
}

.panel {
    position: absolute; 
    width: 250px;
}

.indicator {
    position: absolute;
    width: 400px;
    
}

.indicator-value {
    font-size: 24px;
    margin: 5px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(253, 239, 239);
    width: fit-content;
}

#backgroundArea{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#backgroundArea img{
   
    max-width: 100%;
        width: 80%;
    height: 92vh;
}

 #hidden-form{
    position: absolute;
    top: 0;
    width: 0px;
    visibility: hidden;
} 

.forms{
    position: absolute;
    width: 100vw;
    height: 100vh;
} 

 .button-container{
    text-align: left;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
} 

.digram-button{
    background-color: rgb(164, 64, 64);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointed;
}

canvas{
    position: relative;
    z-index: 100;
}
